name: Linux-HIP Build

on: [pull_request]

env:
  NTHREADS: 10

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        build_type : [ Release, Debug ]

    name: self-hosted "${{ matrix.build_type }}"
    runs-on: self-hosted

    env:
      BUILD_CONFIG: >
        -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
        -DBUILD_SHARED_LIBS=OFF
        -DCMAKE_CXX_STANDARD=20
        -DENABLE_HIP=ON
        -DTTG_ENABLE_HIP=ON
        -DCMAKE_HIP_ARCHITECTURES=gfx908

    steps:
      - name: Checkout repository to host
        uses: actions/checkout@v4

      - name: Build
        run: |
          apptainer exec \
            --bind $GITHUB_WORKSPACE:/workspace \
            /opt/containers/ubuntu_hip.sif \
            bash -c "
            echo 'Running job in apptainer image'
            cmake $GITHUB_WORKSPACE $BUILD_CONFIG
            cmake --build . -j ${NTHREADS}"