name: Linux Build

on: [pull_request]

env:
  NTHREADS: 1

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        build_type : [ Release, Debug ]
        device : [ CUDA, HIP ]

    name: "self-hosted: ${{ matrix.build_type }} ${{matrix.device}}"
    runs-on: self-hosted

    env:
      BUILD_CONFIG: >
        -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
        -DBUILD_SHARED_LIBS=OFF
        -DCMAKE_CXX_STANDARD=20
        -DENABLE_${{matrix.device}}=ON
        -DTTG_ENABLE_${{matrix.device}}=ON
    steps:
      - name: Checkout repository to host
        uses: actions/checkout@v4

      - name: Build CUDA
        if: ${{ matrix.device == 'CUDA'}}
        run: |
          apptainer exec \
            --bind $GITHUB_WORKSPACE:/workspace \
            /opt/containers/ubuntu_nvhpc.sif \
            bash -c "
            mkdir build && cd build
            cmake ../ $BUILD_CONFIG
            cmake --build . -j ${NTHREADS}"

      - name: Build HIP
        if: ${{ matrix.device == 'HIP'}}
        run: |
          apptainer exec \
            --bind $GITHUB_WORKSPACE:/workspace \
            /opt/containers/ubuntu_hip.sif \
            bash -c "
            mkdir build && cd build
            cmake ../ $BUILD_CONFIG -DCMAKE_HIP_ARCHITECTURES=gfx908
            cmake --build . -j ${NTHREADS}"
