name: Linux Build

on: [pull_request]

env:
  NTHREADS: 4

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        build_type : [ Release, Debug ]
        device : [ CUDA, HIP ]

    name: "self-hosted: ${{ matrix.build_type }} ${{matrix.device}}"
    runs-on: self-hosted

    env:
      BUILD_CONFIG: >
        -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
        -DBUILD_SHARED_LIBS=OFF
        -DCMAKE_CXX_STANDARD=20

    steps:
      - name: Checkout repository to host
        uses: actions/checkout@v4

      - name: Configure
        run: |
          if [ "${{ matrix.device }}" = "CUDA" ]; then
            echo "BUILD_CONFIG=$BUILD_CONFIG -DENABLE_CUDA=ON -DTTG_ENABLE_CUDA=ON" >> $GITHUB_ENV
            echo "CONTAINER=/opt/containers/ubuntu_nvhpc.sif" >> $GITHUB_ENV
          elif [ "${{ matrix.device }}" = "HIP" ]; then
            echo "BUILD_CONFIG=$BUILD_CONFIG -DENABLE_HIP=ON -DTTG_ENABLE_HIP=ON -DCMAKE_HIP_ARCHITECTURES=gfx908" >> $GITHUB_ENV
            echo "CONTAINER=/opt/containers/ubuntu_hip.sif" >> $GITHUB_ENV
          fi

      - name: Build
        run: |
          apptainer exec \
            --bind $GITHUB_WORKSPACE:/workspace \
            $CONTAINER \
            bash -c "
              mkdir build && cd build
              cmake ../ $BUILD_CONFIG
              cmake --build . -j ${NTHREADS}"
